{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Klopapier-Submission</title>
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	</head>
	<body>
		<main>
			<p>Thank you for your submission to the Klopapier!</p>

			<p>You will be redirected to <a href="{{ submission.url }}">{{ submission.url }}</a> in <span id="time">10</span> seconds ...</p>

			<p>If you want to have a look at all submissions, <a href="{% url 'index' %}">click here</a>.</p>

			<p><a href="{% url 'delete' submission.secret %}">Undo this action</a>.</p>
		</main>

	<script>
	var seconds = 10;

	var x = setInterval(function() {
		seconds = seconds - 1;

		document.getElementById("time").innerHTML = seconds;

		if (seconds <= 0) {
			clearInterval(x);
			history.back();
		}
	}, 1000);
	</script>
	</body>
</html>

