{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Klopapier-Submissions</title>
		<link href="{% static 'style.css' %}" rel="stylesheet" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	</head>
	<body>
		<main>
			<form action="{% url 'create' %}" method="get">
				<input type="url" name="url" placeholder="Insert URL to submit and press enter" autocomplete="off" required />
				<input type="submit" style="display: none" />
			</form>

			<table>
				<caption>Submissions</caption>
				<tr>
					<th>URL</th>
					<th>Upvotes</th>
					<th></th>
				</tr>
				{% for submission in submissions %}
				<tr>
					<td><a href="{{ submission.url }}" target="_blank" rel="noreferrer">{{ submission.url }}</a></td>
					<td>{{ submission.upvotes }}</td>
					<td><a href="{% url 'upvote' submission.id %}"><div class="arrow-up" title="Upvote"></div></a></td>
				</tr>
				{% endfor %}
			</table>

			<footer>
				<!-- Space for privacy statement and impressum !-->
			</footer>
		</main>
	</body>
</html>


